
.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-end;
    
}

.img-header{
    padding: 10px;
    border: solid black 10px;
    margin-right: 100px;
}

.links{
    display: flex;
    flex-direction:row-reverse;
    justify-content:flex-start;
    padding: 50px;
    gap: 10px;
    flex-shrink: 1 ;
   }

.logo{
    display: flex;
    width: 150px;
    height:auto ;
}
.item{
    min-height: 200px;
}
.imghead-container{
    display: flex;
    width: 200px;
    height: auto;
    flex-grow: 2;
    
    align-items: flex-end;
    margin-left: 300px;
    
}

.hero-container{
    display: flex;
    flex: 2 ;
    justify-content: space-evenly;
    flex-direction: column;
    border: solid black 10px;
    width: 500px;
    height: 800px;
    align-self: flex-start;
    align-content: center;
    margin-bottom: 200px;
    gap: 50px; 
   
  

    
}

.flex-container{
    display: flex;
    padding: 100px;
    gap: 100px;
    justify-content: center;
    align-items: center;
   
}

.p{

}

.quote-container{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 200px;
}
.quote-bx{
    display: flex;
    justify-content: flex-end;
}
.cta-container{
    display: flex;
    background-color: burlywood;
    justify-content: space-around;
    
}
.hero1{
    display: flex;
    justify-content: flex-start;
}

.navcontainer{
    background-color: #1f2937;


}

